* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.sections {
    height: 95vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100vw;
}

.content {
    height: 22.5vh;
    width: 1000px;
    display: flex;
    /* outline: 2px solid red; */
    align-items: flex-end;
}

/* section one */
.section-one {
    height: 27.5vh;
    display: flex;
    background-color: #1F2937;
    color: white;
    flex-direction: column;
    align-items: center;
}

nav {
    height: 5vh;
    display: flex;
    width: 1000px;
    /* outline: 2px solid red; */
}


/* section two */
.section-two {
    height: 22.5vh;
    display: flex;
    justify-content: center;
}


/* section three */
.section-three {
    height: 22.5vh;
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
}



/* section four */
.section-four {
    height: 22.5vh;
    display: flex;
    justify-content: center;
}


/* footer */

footer {
    height: 5vh;
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
}

.copyright {
    color: white;
    font-size: 12px;
}